
body{
  margin: 0;
  text-align: center;
    font-family: 'Merriweather', serif;

}
h1
{

  margin-top: 0;
  margin:0 auto 0 auto;
  font-family: 'Sacramento', cursive;

}
h2
{

  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}

.top-conatiner{
  background-color: #E4F9F5;
  padding-top: 100px;

}

.middle-container
{
  padding-top:200px;
  background-color:#E4F9F5;
}
.bottom-container{
  padding-top: 15px;
    background-color:#E4F9F5;
}



.bottom-cloud{
  position: absolute;
}
.top-cloud{
  position: relative;
  left:200px;

}
